@model IEnumerable<LanguageTracker.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="post" enctype="multipart/form-data" asp-controller="Students1" asp-action="Import">
    <label>
        CSV File
        <input type="file" name="excelFile">
    </label>
    <br>
    <input type="submit" value="Import">
</form>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.SID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
